.groundPlanModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeModalBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    background-color: var(--faded-dark-blue);
    color: var(--blue);
    font-weight: 900;
    padding-bottom: 2px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.closeModalBtn:hover {
    filter: brightness(120%);
}

.groundPlanWrapper {
    padding: 20px;
    background-color: var(--faded-dark-blue);
    transform: rotate(90deg);
}

.activeRoomLabelWrapper {
    position: absolute;
    top: 60px;
    left: 50px;
    display: flex;
    align-items: center;
}

.activeRoomLabel {
    height: 20px;
    width: 40px;
    display: inline-block;
    background-color: var(--co);
}

.activeRoomLabelName {
    color: var(--white);
    margin-left: 10px;
}

.room {
    cursor: pointer;
    transition: fill 0.25s ease-in-out;
}

.group[disabled='false']:hover .room {
    fill: var(--co);
}

.group[disabled='false']:hover .room-name {
    fill: var(--white);
}

.group[disabled='true'] .room {
    fill: var(--disabled);
    cursor: not-allowed;
}

.activePathRoom {
    fill: var(--co);
}

@media screen and (max-width: 768px) {
    .groundPlanModal {
        overflow-y: auto;
        align-items: baseline;
        scroll-behavior: smooth;
    }

    .closeModalBtn {
        top: 30px;
        right: 30px;
    }

    .activeRoomLabelWrapper {
        top: 120px;
        left: unset;
    }

    .activeRoomLabelName {
        font-size: 14px;
    }

    .groundPlanWrapper {
        transform: rotate(0deg);
        margin-top: 160px;
        margin-bottom: 20px;
    }

    .groundPlan {
        width: 250px;
        height: auto;
    }
}