.analyticsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 2vh;
    flex: 1;
    margin-bottom: 50px;
}

.readingsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 35px;
    margin: 35px 30px 0 0;
}