.roomCard {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border-left: 10px solid transparent;
    cursor: pointer;
    transition: border-color 0.25s ease-in-out;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.roomImg {
    stroke: var(--light-white);
    stroke-width: .95px;
    transition: stroke 0.25s ease-in-out;
}

.roomCard:hover .roomImg,
.roomCard:hover .roomName,
.roomCard.active .roomImg,
.roomCard.active .roomName {
    color: var(--blue);
    stroke: var(--blue);
}

.roomCard.active .roomName {
    font-weight: 600;
}

.roomCard.active .roomImg path {
    stroke: var(--blue);
    stroke-width: .95px;
}

.roomCard.active {
    background-color: #20293C;
}

.roomCard:hover,
.roomCard.active {
    border-color: var(--blue);
}

.roomName {
    color: var(--light-white);
    font-size: 16px;
    margin-left: 22px;
    transition: color 0.25s ease-in-out;
}

.realSensorImg {
    margin-left: 20px;
}