:root {
  --blue: #1F8EFA;
  --dark-blue: #242E42;
  --faded-dark-blue: #2F3B52;
  --white: #FFF;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--dark-blue);
  width: 100vw;
  min-height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}
