:root {
  --blue: #1F8EFA;
  --dark-blue: #242E42;
  --faded-dark-blue: #2F3B52;
  --disabled: #e5e5e5;
  --white: #FFF;
  --light-black: rgba(0, 0, 0, 0.8);
  --light-white: rgba(255, 255, 255, 0.5);
  --temperature: #FFAB4F;
  --humidity: #1F8EFA;
  --pressure: #EE423D;
  --no2: #843FA0;
  --co: #05C985;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--dark-blue);
  width: 100vw;
  min-height: 100vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

.dataError {
  color: var(--white);
}
